<!-- <blockquote>
	<p> Доброго дня, <%= @login %> </p>
	<p>Сегодня список клиентов <a href="/users_list.txt">такой:</a></p>
	
</blockquote> -->

 <frameset rows="80,*" cols="*">
   <frame src="top.html" name="topFrame" scrolling="no" noresize>
	   <blockquote>
			<p> Доброго дня, <%= session[:identity] %> </p>
			<p>Сегодня список клиентов <a href="/showusers">такой:</a></p>
			
		<form action="/cabinet" method="POST" role="form">
			<label>Введите имя нового сотрудника:</label>	
			<input type="text" class="form-control" name ="new_barber" placeholder="Введите имя нового сотрудника"><br/>
			<button type="submit" class="btn btn-success" >Добавить сотрудника</button>
		</form>
		</blockquote>
