<div id="main_2">
<div id="carousel-example-generic" class="carousel slide aaa" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://karina-lam.ru/wp-content/uploads/2015/12/ZHenskie-strizhki-na-srednie-volosy-s-chelkoj.jpg" alt="неизвестно кто">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="http://xtremewalls.com/hollywoodf/kaleycuoco/kaley-cuoco-019-10.jpg" alt="так тебе получше">
      <div class="carousel-caption">
        
      </div>
    </div>
	<div class="item">
      <img src="http://www.internetwigs.com/user/raquel-european-wigs/memphis%20luxury.jpg" alt="труляля">
      <div class="carousel-caption">
        
      </div>
    </div>
    
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<script>
	$('#main_2').css({'margin':'30px','border':'4px double black'});
	$('.aaa').css({'width':'50%','align':'center'});
	
</script>