<!DOCTYPE html>

<h3>Чтобы записаться на стрижку, введите Ваше имя, телефон для связи и желаемое время</h3>
<form action="/visit" method="POST" role="form">

	<input type="text" class="form-control" name ="new_user_name" placeholder="Введите Ваше имя"><br/>
	<input type="text" class="form-control" name ="new_user_phone"placeholder="Введите номер телефона"><br/>
	<input type="text" class="form-control" name ="new_user_datetime" placeholder="Введите дату и время"><br/>
	<button type="submit" class="btn btn-success">Записаться</button>
	
</form>